EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=859613727103-your-android-id-here.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-id-here.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-id-here.apps.googleusercontent.com